@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0px;
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  box-sizing: border-box;
  padding: 0px;
}
.mps{
  box-sizing: content-box;
  display: block;
  margin: auto;
}
.mapas{
  box-sizing: content-box;
  display: block;
  width: 30%; 
  height: auto;
  margin: auto;
  height: auto;
  padding: 10px;
}
.button_cont {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 10px 0;
}
h1{
  text-align: center;
    margin-bottom: 0.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ttl {
  padding: 10px
}
.table {
  display: table; 
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
table, th, td{
  border: 0.9px solid black;
  border-collapse: collapse;
  padding: 0.2em;
}
td{
  text-align: justify;
}
th, td{
  padding: 0.3rem;
}
.txt_one {
  width: 100%; 
  max-width: 90%; 
  padding: 10px;
  box-sizing: border-box; 
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px black
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:link, a:visited {
  color: rgb(0, 0, 0);
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
